#!/usr/bin/env bash
# Automatically load the Nix development environment
use flake

# Load any local environment variables if they exist
if [ -f .env ]; then
  dotenv .env
fi

# Load GitHub token if it exists in a secrets file
if [ -f .secrets ]; then
  dotenv .secrets
fi
